{% load static %}
<!DOCTYPE html>
<html>
<title>Job Fair</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
<style>
body,h1,h2,h3,h4,h5,h6,p {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left: 50px; padding-right: 30px;">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1 style="margin-top: 30px;"><b>Job Fair</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      
    </div>
    </div>
  </header>

  <div class="row row-cols-1 row-cols-md-3 g-4">
	  <div class="col">
	    <div class="card h-100">
	    	<a class="img-button" style="cursor: pointer;" href="#ex1" rel="modal:open"><img src="{% static 'images/data-scientist.jpg'%}" style="width: 400px; height: 600px;" class="card-img-top" alt="..."></a>
	      	
	    	<div id="ex1" class="modal">
			  <img src="{% static 'images/data-scientist.jpg'%}" style="width: 410px; height: 610px;" class="card-img-top" alt="...">
			</div>

	    	<div class="card-body">
	        	<h5 class="card-title">Lowongan 1</h5>
	        	<p class="card-text">Data Scientist</p>
	        	<a href="/1"><button type="button" class="btn btn-primary">Apply</button></a>
	    	</div>
	    </div>
	  </div>
	  <div class="col">
	    <div class="card h-100">
	      <a class="img-button" style="cursor: pointer;" href="#ex2" rel="modal:open"><img src="{% static 'images/digital-marketer.jpg'%}" style="width: 400px; height: 600px;" class="card-img-top" alt="..."></a>

	      <div id="ex2" class="modal">
			  <img src="{% static 'images/digital-marketer.jpg'%}" style="width: 410px; height: 610px;" class="card-img-top" alt="...">
			</div>
	      <div class="card-body">
	        <h5 class="card-title">Lowongan 2</h5>
	        <p class="card-text">Digital Marketer</p>
	        <a href="/2"><button type="button" class="btn btn-primary">Apply</button></a>
	      </div>
	    </div>
	  </div>
	  <div class="col">
	    <div class="card h-100">
	      <a class="img-button" style="cursor: pointer;" href="#ex3" rel="modal:open"><img src="{% static 'images/finance-accounting.jpg'%}" style="width: 400px; height: 600px;" class="card-img-top" alt="..."></a>
	      <div id="ex3" class="modal">
			  <img src="{% static 'images/finance-accounting.jpg'%}" style="width: 410px; height: 610px;" class="card-img-top" alt="...">
			</div>
	      <div class="card-body">
	        <h5 class="card-title">Lowongan 3</h5>
	        <p class="card-text">Finance Accounting</p>
	        <a href="/3"><button type="button" class="btn btn-primary">Apply</button></a>
	      </div>
	    </div>
	  </div>
	  <div class="col">
	    <div class="card h-100">
	      <a class="img-button" style="cursor: pointer;" href="#ex4" rel="modal:open"><img src="{% static 'images/game-development.jpg'%}" style="width: 400px; height: 600px;" class="card-img-top" alt="..."></a>
	      <div id="ex4" class="modal">
			  <img src="{% static 'images/game-development.jpg'%}" style="width: 410px; height: 610px;" class="card-img-top" alt="...">
			</div>
	      <div class="card-body">
	        <h5 class="card-title">Lowongan 4</h5>
	        <p class="card-text">Game Developer</p>
	        <a href="/4"><button type="button" class="btn btn-primary">Apply</button></a>
	      </div>
	    </div>
	  </div>
	  <div class="col">
	    <div class="card h-100">
	      <a class="img-button" style="cursor: pointer;" href="#ex5" rel="modal:open"><img src="{% static 'images/jurnalist.jpg'%}" style="width: 400px; height: 600px;" class="card-img-top" alt="..."></a>
	      <div id="ex5" class="modal">
			  <img src="{% static 'images/jurnalist.jpg'%}" style="width: 410px; height: 610px;" class="card-img-top" alt="...">
			</div>
	      <div class="card-body">
	        <h5 class="card-title">Lowongan 5</h5>
	        <p class="card-text">Jurnalist</p>
	        <a href="/5"><button type="button" class="btn btn-primary">Apply</button></a>
	      </div>
	    </div>
	  </div>
	  <div class="col">
	    <div class="card h-100">
	      <a class="img-button" style="cursor: pointer;" href="#ex6" rel="modal:open"><img src="{% static 'images/mobile-development.jpg'%}" style="width: 400px; height: 600px;" class="card-img-top" alt="..."></a>
	      <div id="ex6" class="modal">
			  <img src="{% static 'images/mobile-development.jpg'%}" style="width: 410px; height: 610px;" class="card-img-top" alt="...">
			</div>
	      <div class="card-body">
	        <h5 class="card-title">Lowongan 6</h5>
	        <p class="card-text">Mobile Developer</p>
	        <a href="/6"><button type="button" class="btn btn-primary">Apply</button></a>
	      </div>
	    </div>
	  </div>
	  <div class="col">
	    <div class="card h-100">
	      <a class="img-button" style="cursor: pointer;" href="#ex7" rel="modal:open"><img src="{% static 'images/quality-assurance.jpeg'%}" style="width: 400px; height: 600px;" class="card-img-top" alt="..."></a>
	      <div id="ex7" class="modal">
			  <img src="{% static 'images/quality-assurance.jpeg'%}" style="width: 410px; height: 610px;" class="card-img-top" alt="...">
			</div>
	      <div class="card-body">
	        <h5 class="card-title">Lowongan 7</h5>
	        <p class="card-text">Quality Assurance</p>
	        <a href="/7"><button type="button" class="btn btn-primary">Apply</button></a>
	      </div>
	    </div>
	  </div>
	  <div class="col">
	    <div class="card h-100">
	      <a class="img-button" style="cursor: pointer;" href="#ex8" rel="modal:open"><img src="{% static 'images/ui-ux.jpg'%}" style="width: 400px; height: 600px;" class="card-img-top" alt="..."></a>
	      <div id="ex8" class="modal">
			  <img src="{% static 'images/ui-ux.jpg'%}" style="width: 410px; height: 610px;" class="card-img-top" alt="...">
			</div>
	      <div class="card-body">
	        <h5 class="card-title">Lowongan 8</h5>
	        <p class="card-text">UI/UX Designer</p>
	        <a href="/8"><button type="button" class="btn btn-primary">Apply</button></a>
	      </div>
	    </div>
	  </div>
	  <div class="col">
	    <div class="card h-100">
	      <a class="img-button" style="cursor: pointer;" href="#ex9" rel="modal:open"><img src="{% static 'images/web-developer.jpg'%}" style="width: 400px; height: 600px;" class="card-img-top" alt="..."></a>
	      <div id="ex9" class="modal">
			  <img src="{% static 'images/web-developer.jpg'%}" style="width: 410px; height: 610px;" class="card-img-top" alt="...">
			</div>
	      <div class="card-body">
	        <h5 class="card-title">Lowongan 9</h5>
	        <p class="card-text">Wev Developer</p>
	        <a href="/9"><button type="button" class="btn btn-primary">Apply</button></a>
	      </div>
	    </div>
	  </div>
  </div> 

</div>
<script>
	$('#exampleModal').modal('toggle');
</script>

<!-- end -->
</body>
</html>
