{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Cerita Saya</title>
	{% include "Navbarku.html" %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>	<!-- font -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="navi">
		</div>
		<script>
			$(function) {
				$("#navi").load("Navbarku.html");});
			}
		</script>
		<p>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</p>
	</div>
	<div id="tentangsaya" class="container" >
		<div class="square-service-block box-lainnya">
			<div class="row">
				<div class="col-4">
				
					<h4 style="font-size: 20px; color:#FF8B00; font-family: GlacialIndifferenceRegular;">CERITA SAYA</h4>
					<br>
					<div class="btn-group-vertical">
					  <button type="button" class="btn btn-warning">Kuliah di Fasilkom</button>
					  <button type="button" class="btn btn-warning">Rindu SMA</button>
					</div>
				</div>
				<div class="ini col-8">
					
				</div>
			</div>
		</div>

	</div>

	<div>
		<p>
			<br><br>
		</p>

		<div id="footeer">
			</div>
		<script>
			$(function) {
				$("#footeer").load("Footer.html");});
			}
		</script>
		{% include "Footer.html" %}
		<br><br>
	</div>
</body>
</html>