{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Daftar Akun</title>
	{% include "Navbarku.html" %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>	<!-- font -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="navi">
		</div>
		<script>
			$(function) {
				$("#navi").load("Navbarku.html");});
			}
		</script>
		<p>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</p>
	</div>
	<div id="tentangsaya" class="container" >
		<div class="square-service-block box-lainnya">
			<div class="row">
				<div class="col-8">
					<h3 style="font-family: GlacialIndifferenceRegular; color:#FF8B00;">Feriyal Web</h3>
					<br>
					<h4 style="font-family: GlacialIndifferenceRegular;">Buat Akun</h4>
					<form>
						<div class="form-group formtulisan">
					    	<label for="exampleInputName">Nama</label>
					    	<input type="text" class="form-control" placeholder="Nama">
					  	</div>
					  	<div class="form-group formtulisan">
					    	<label for="exampleInputBirthdate">Tanggal Lahir</label>
					    	<input type="date" class="form-control" placeholder="HH/BB/TTTT">
					  	</div>
					  	<div class="form-group formtulisan">
					    	<label for="exampleInputEmail1">Alamat Email</label>
					    	<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Masukkan Email">
					    	<small id="emailHelp" class="form-text text-muted">Kami tidak akan pernah membagikan email Anda kepada orang lain.</small>
					  	</div>
					  	<div class="form-group formtulisan">
					    	<label for="exampleInputUsername">Nama Pengguna</label>
					    	<input type="username" class="form-control" placeholder="Nama Pengguna">
					  	</div>
					  	<div class="form-group formtulisan">
					    	<label for="exampleInputPassword1">Kata Sandi</label>
					    	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					  	</div>
					  	<div class="form-group formtulisan">
					    	<label for="exampleInputPassword1">Konfirmasi Sandi</label>
					    	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					  	</div>
					  	<div class="form-check formtulisan">
					    	<input type="checkbox" class="form-check-input" id="exampleCheck1">
					    	<label class="form-check-label" for="exampleCheck1">Periksa aku</label>
					  	</div>
					  	<button type="submit formtulisan" class="btn btn-warning formsubmit">Submit</button>
					</form>
				</div>
				<div class="ini col-4">
					<div class="row-3">
						<p><br><br><br><br><br><br></p>
					</div>
					<div class="row-3">
						<div class="col-4">
							<p></p>
						</div>
						<div class="col-4">
							<img src="https://image.ibb.co/gecmSK/account_2.png" alt="account_2" class="iconakun">
						</div>
						<div class="col-4">
							<p></p>
						</div>
						<br><br><br><br><br><br>
					</div>
					<div class="row-3">
						<div class="col-4">
							<p></p>
						</div>
						<div class="col-4">
							<img src="https://image.ibb.co/iWHQMe/account.png" alt="account" class="iconakun iconakun2">
						</div>
						<div class="col-4">
							<img src="https://image.ibb.co/fw1kMe/developer.png" alt="developer" class="iconakun iconakun3">
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div>
		<p>
			<br><br>
		</p>

		<div id="footeer">
			</div>
		<script>
			$(function) {
				$("#footeer").load("Footer.html");});
			}
		</script>
		{% include "Footer.html" %}
		<br><br>
	</div>
</body>
</html>