{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Buat Jadwal</title>
	{% include "Navbarku.html" %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>	<!-- font -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="navi">
		</div>
		<script>
			$(function) {
				$("#navi").load("Navbarku.html");});
			}
		</script>
		<p>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</p>
	</div>
	<div id="tentangsaya" class="container" >
		<div class="square-service-block box-lainnya formulir">
			<div class="row">
				<h3 class="greet">BUAT JADWAL</h3>
				<br>
			</div>
			<div class="row">
				<div class="col-2">
					<img src="https://image.ibb.co/fVfq1z/calendar_1.png" alt="calendar_1" style="width: 70px;">
				</div>
				<div class="col-4">
					<img src="https://image.ibb.co/ma8XEK/list.png" alt="list" style="width: 70px;">
				</div>
			</div>
			<div class="row">
				<br><br><br>
				<form action="#" method="POST" style="font-size: 20px;">
                    {% csrf_token %}
                    {% for field in form %}
                        <span style="display:inline-block; width: 150px;">{{ field.label_tag }}</span><span>{{ field }}</span><br><br>
                    {% endfor %}
                    <input type="submit" value="Submit" class="btn btn-warning" style="color:black;">
                    <a href="{% url 'profil:jadwal' %}" style="padding-left:15px">Lihat Jadwal</a>
                </form>
			</div>
		</div>

	</div>
	<div>
		<p>
			<br><br>
		</p>

		<div id="footeer">
			</div>
		<script>
			$(function) {
				$("#footeer").load("Footer.html");});
			}
		</script>
		{% include "Footer.html" %}
		<br><br>
	</div>


</body>
</html>