{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Jadwal Saya</title>
	{% include "Navbarku.html" %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>	<!-- font -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="navi">
		</div>
		<script>
			$(function) {
				$("#navi").load("Navbarku.html");});
			}
		</script>
		<p>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</p>
	</div>
	<div id="tentangsaya" class="container" >
		<div class="row">
			<div class="col-2">
				<p></p>
			</div>
			<div class="col-3">
				<span class="label label-warning" style="font-family:  GlacialIndifferenceRegular; color: #FF8B00; background-color: white; font-size: 25px;">JADWAL SAYA</span>
				<a href="{% url 'profil:buatjadwal' %}"><button type="button" class="btn btn-info" style="width: 100px; background-color: #FF8B00; color: white; font-family: GlacialIndifferenceRegular; border-width: 0px;">Buat Jadwal</button></a>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="square-service-block box-lainnya formulir">
				<div class="row">
					<div class="col-5">
		                <table style="width:100%">
		                    {% if jadwall %}
		                    <!--
		                        <tr style="font-size:20px;">
		                            <th>Nama Kegiatan</th>
		                            <th>Hari / Tanggal</th>
		                            <th>Jam</th>
		                            <th>Tempat</th>
		                            <th>Kategori</th>
		                        </tr> -->
		                        {% for jadwal in jadwall %}
		                        	<!--
		                            <tr>
		                                <td>{{ jadwal.activity }}</td>
		                                <td>{{ jadwal.day }} / {{ jadwal.date }}</td> 
		                                <td>{{ jadwal.time }}</td>
		                                <td>{{ jadwal.place }}</td>
		                                <td>{{ jadwal.category }}</td>
		                            </tr> -->
		                            <div class="square-service-block" style="background-color: #EDF878; padding: 10px 10px; border-radius: 10px;">
			                            <h5 style="font-size: 22px; color: grey;">{{ jadwal.activity }}</h5>
			                            <p><span class="glyphicon glyphicon-calendar"></span> {{ jadwal.day }}, {{ jadwal.date }}</p>
			                            <p><span class="glyphicon glyphicon-time"></span> {{ jadwal.time }}</p>
			                            <p><span class="glyphicon glyphicon-home"></span> {{ jadwal.place }}</p>
			                            <p style="font-size: 14px;">{{ jadwal.category }}</p>
			                            
			                        </div>

		                        {% endfor %}

		                        <a href="{% url 'profil:hapusjadwal' %}"><button type="button" class="btn btn-danger">Hapus semua</button></a>

		                    {% else %}
		                    	<br>
		                        <h4>Belum ada agenda yang akan datang.</h4> 
		                    {% endif %}
		                </table>
		                <br>
			        </div>
				    <div class="col-7">
			        	<p></p>
				    </div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<p>
			<br><br>
		</p>

		<div id="footeer">
			</div>
		<script>
			$(function) {
				$("#footeer").load("Footer.html");});
			}
		</script>
		{% include "Footer.html" %}
		<br><br>
	</div>
</body>
</html>