<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
	<div>
		<div class="row">
			<div class="col-1">
				<a href="{% url 'profil:beranda' %}"><img src="https://image.ibb.co/dOpFhK/logo.png" alt="logo" class="logo"></a>
			</div>
			<div class="col-3">
				<p></p>
			</div>
			<div class="col-8">
				<br><br>
				<nav class="navbar navbar-inverse navbarku">
				  <div class="container-fluid">
				    <ul class="nav navbar-nav navbar-right">
				      <li><a href="{% url 'profil:tentangsaya' %}">TENTANG SAYA</a></li>
				      <li><a href="{% url 'profil:ceritasaya' %}">CERITA SAYA</a></li>
				      <li><a href="{% url 'profil:daftarakun' %}">DAFTAR AKUN</a></li>
				      <li><a href="{% url 'profil:jadwal' %}">JADWAL SAYA</a></li>
				    </ul>
				  </div>
				</nav> 
			</div>
		</div>
	</div>
</body>
</html>