{% load static %}
<!DOCTYPE html>
<html>
<title>Form Pendaftaran</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<style>
body,h1,h2,h3,h4,h5,h6,p {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left: 50px; padding-right: 30px;">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1 style="margin-top: 30px;"><b>Form Pendaftaran Pelamar</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      
    </div>
    </div>
  </header>

  <div>
  	<form method="POST" onsubmit="return confirm_func(this)">
  	  {% csrf_token %}
	  <div class="mb-3">
	    <label for="nama-lengkap" class="form-label">Nama Lengkap</label>
	    <input type="text" class="form-control" id="nama-lengkap" aria-describedby="nama-lengkap">
	  </div>
	  <div class="mb-3">
	    <label for="no-telp" class="form-label">No. Telp</label>
	    <input type="text" class="form-control" id="no-telp" aria-describedby="no-telp">
	  </div>
	  <div class="mb-3">
	    <label for="no-wa" class="form-label">No. Whataspp</label>
	    <input type="text" class="form-control" id="no-wa" aria-describedby="no-wa">
	  </div>
	  <div class="mb-3">
	  	<label for="exampleDataList" id="posisi" class="form-label">Posisi yang dilamar : <b>{{lowongan.nama_lowongan}}</b></label>
	  </div>
	  <button type="submit" class="btn btn-primary">Daftar</button>
	</form>
  </div>
  <br>
  <br>

  <a href="/">< Kembali</a>
 

<!-- End page content -->
</div>
<script>
	function confirm_func(form) {
		var nama = document.getElementById("nama-lengkap").value;
		var no_telp = document.getElementById("no-telp").value;
		var no_wa = document.getElementById("no-wa").value;
		var posisi = document.getElementById("posisi").textContent;
		return confirm('Nama Lengkap : ' + nama + ' , No. Telp : ' + no_telp + ' , No. WA : ' + no_wa + ' , ' + posisi);
	}
</script>

</body>
</html>