{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Tentang Saya</title>
	{% include "Navbarku.html" %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>	<!-- font -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="overflow">
	<div id="navi">
		</div>
		<script>
			$(function) {
				$("#navi").load("Navbarku.html");});
			}
		</script>
		<p>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div class="row">
				<div class="col-2">
					<p></p>
				</div>
				<div class="col-10">
					<div class="dropdown menutab">
					  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Menu
					  <span class="caret"></span></button>
					  <ul class="dropdown-menu">
					    <li style="font-family: GlacialIndifferenceRegular;"><a href="#tentangsaya">Tentang Saya</a></li>
					    <li style="font-family: GlacialIndifferenceRegular;"><a href="#keahlian">Keahlian</a></li>
					    <li style="font-family: GlacialIndifferenceRegular;"><a href="#edukasi">Edukasi</a></li>
					    <li style="font-family: GlacialIndifferenceRegular;"><a href="#kontaksaya">Kontak Saya</a></li>
					  </ul>
					</div>
				</div>
			</div>
			<br>
			<br>
			<br>
		</p>
	</div>
	<div id="tentangsaya" class="container" >
		<div class="square-service-block tentang">
			<div class="row">
				<div class="col-4">
					<img src="https://image.ibb.co/dORqjz/feriyal_2.jpg" alt="feriyal" class="fotoferiyal">
					<br><br><br>
					<a href="https://drive.google.com/open?id=1mP17f62fiplLrvNHTWQpGJio-46aazBY" target="_blank">
						<button type="button" class="btn btn-warning unduhcv">UNDUH CV</button>
					</a>
				</div>
				<div class="ini col-8">
					<div class="row atas">
						<h3 class="greet">HAI SAYA FIRRIYAL BIN YAHYA !</h3>
						<h4 class="greytext">Mahasiswa Ilmu Komputer</h4>
						<p class="greeting" style="font-size: 18px;">Hai! Saya Firriyal Bin Yahya. Seorang mahasiswa ilmu komputer di 
	Universitas Indonesia. Saat ini saya sedang menuntut ilmu dan 
	pengetahuan seputar dunia IT. Saya juga sedang mempelajari 
	beberapa bahasa komputer, seperti Java, HTML5, CSS3, 
	Javascript. Disamping itu saya juga memiliki sedikit latar belakang 
	dalam Organisasi dan Kepanitiaan.</p>
					</div>
					<div class="row huruf">
						<div class="col-7">
							<span class="kategori" style="display:inline-block; width: 140px;">Umur</span> <span style="color: black;">18</span><br>
							<span class="kategori" style="display:inline-block; width: 140px;">Alamat	</span> <span>Jl. Kwini 9A, Balekambang,</span><br><span style="display:inline-block; width: 140px;"></span><span>Jakarta Timur</span><br>
							<span class="kategori" style="display:inline-block; width: 140px;">Email</span> <span>feriyalbinyahya@gmail.com</span>
							<br><br>
						</div>
						<div class="col-5">
							<span class="kategori" style="display:inline-block; width: 140px;">Ponsel</span> <span>+6289661156025</span><br>
							<span class="kategori" style="display:inline-block; width: 140px;">Kewarganegaraan</span> <span>Indonesia</span>
						</div>
					</div>
					<div class="row">
						<br><br>
						<p class="kategori huruf">Social Links</p>
						<a href="https://www.facebook.com/fridai17?hc_ref=ARTW9l0ATeWGWL789re7iVld06NJtfKVf7in-4zf4PYY-h8XwSRhbBnjwPqO0bHu8yg&fref=nf&__xts__[0]=68.ARDSJpp810gdBSWI8GE9g6CxJGt2FhiR9e5gPJBuBfAotE5lod1UMMa61-TxO3UjbkxP5kWXWJgt-J9SvZXF-i0KsbzOdmOhDVgX0IeduCd-npyNAPuJFm-Y7P9PA1Rqy0vc_N2WIAmCVtD-8pr0_3H_7GulkOE01ns6_a1BrGpgRVO3fv_x&__tn__=C-R" target="_blank" type="button" class="btn-floating btn-lg btn-fb"><i class="fa fa-facebook"></i></a>
						<a href="https://plus.google.com/102883761578163851191" target="_blank" type="button" class="btn-floating btn-lg btn-gplus"><i class="fa fa-google-plus"></i></a>
						<a href="https://twitter.com/" target="_blank" type="button" class="btn-floating btn-lg btn-tw"><i class="fa fa-twitter"></i></a>
					</div>
				</div>
			</div>
		</div>

	</div>
	<p>
		<br><br><br><br><br><br>
	</p>
	<!-- KEAHLIAN -->
	<!-- ISI KEAHLIAN -->
	<div id="keahlian" class="container" >
		<br>
		<p class="h2 " style="text-align: center; font-family: GlacialIndifferenceRegular; font-size: 40px;">KEAHLIAN</p>
		<p>
			<br><br><br>
		</p>
		<div class="row">
			<div class="col-5">
				<div class="square-service-block judulpro">
					<div class="row">
						<p style="text-align: center; color: #47525E; font-size: 20px;">PROFESIONAL</p>
					</div>
				</div>
				<div class="square-service-block profesional">
					<div class="row">
						<br><br><br>
					</div>
					<div class="row">
						<div class="col-8">
							<p>Java</p>
						</div>
						<div class="col-4">
							<p class="persen">85%</p>
						</div>
					</div>
					<div class="row">
						<div class="progress">
  							<div class="progress-bar bg-warning" role="progressbar" style="width: 85%; height: 10px; border-radius: 5px;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							<p>Python</p>
						</div>
						<div class="col-4">
							<p class="persen">90%</p>
						</div>
					</div>
					<div class="row">
						<div class="progress">
  							<div class="progress-bar bg-warning" role="progressbar" style="width: 90%; height: 10px; border-radius: 5px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							<p>Word, Powerpoint,<br>Excel</p>
						</div>
						<div class="col-4">
							<p class="persen">90%</p>
						</div>
					</div>
					<div class="row">
						<div class="progress">
  							<div class="progress-bar bg-warning" role="progressbar" style="width: 90%; height: 10px; border-radius: 5px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							<p>HTML & CSS</p>
						</div>
						<div class="col-4">
							<p class="persen">55%</p>
						</div>
					</div>
					<div class="row">
						<div class="progress">
  							<div class="progress-bar bg-warning" role="progressbar" style="width: 55%; height: 10px; border-radius: 5px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>

				</div>	
			</div>
			<div class="col-1">
				<p></p>
			</div>

			<div class="col-6">
				<div class="square-service-block judultambahan">
					<div class="row">
						<p style="text-align: center; color: #47525E; font-size: 20px;">TAMBAHAN</p>
					</div>
				</div>
				<div class="square-service-block tambahan">
					<div class="row">
						<br><br><br>
					</div>
					<div class="row">
						<div class="col-4">
							<img src="https://image.ibb.co/dUppez/persentase.png" alt="persentase" class="circleprogress">
							<p style="text-align: center;">Bahasa<br>Inggris</p>
						</div>
						<div class="col-4">
							<img src="https://image.ibb.co/hmcBRe/9puluh.png" alt="9puluh" class="circleprogress">
							<p style="text-align: center;">Kreatifitas</p>
						</div>
						<div class="col-4">
							<img src="https://image.ibb.co/ntUQme/8puluh.png" alt="8puluh" class="circleprogress">
							<p style="text-align: center;">Kerjasama<br>Tim</p>
						</div>
					</div>
					<div class="row">
						<br>
						<br>
						<div class="custom-control custom-checkbox ceklis">
  							<input type="checkbox" class="custom-control-input" id="defaultCheckedDisabled2" checked disabled>
  							<label class="custom-control-label" for="defaultCheckedDisabled2">Fotografi</label>
						</div>
					</div>
					<div class="row">
					
						<div class="custom-control custom-checkbox ceklis">
  							<input type="checkbox" class="custom-control-input" id="defaultCheckedDisabled2" checked disabled>
  							<label class="custom-control-label" for="defaultCheckedDisabled2">Edit foto, video</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<!--EDUKASI -->
		<p>
			<br><br><br><br><br><br>
		</p>
		<div id="edukasi" class="container" >
			<br>
			<p class="h2 " style="text-align: center; font-family: GlacialIndifferenceRegular; font-size: 40px;">EDUKASI</p>
			<p>
				<br><br><br>
			</p>
			<div class="row">
				<div class="col-5">
					<div class="square-service-block judulkuliah">
						<div class="row">
							<p style="text-align: center; color: #47525E; font-size: 18px;">2017-Sekarang</p>
						</div>
					</div>
					<div class="square-service-block kuliah kotakedukasi">
						<div class="row">
							<br><br><br><br>
						</div>
						<div class="row">
							<div class="col-2">
								<i class="fa fa-mortar-board" style="font-size:24px"></i>
							</div>
							<div class="col">
								<p>Ilmu Komputer</p>
							</div>
						</div>
						<div class="row">
							<div class="col-2">
								<i class="fa fa-bank" style="font-size:24px"></i>
							</div>
							<div class="col">
								<p>Universitas Indonesia</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-1">
					<p></p>
				</div>
				<div class="col-5">
					<div class="square-service-block judulsma">
						<div class="row">
							<p style="text-align: center; color: #47525E; font-size: 18px;">2014-2017</p>
						</div>
					</div>
					<div class="square-service-block sma kotakedukasi">
						<div class="row">
							<br><br><br><br>
						</div>
						<div class="row">
							<div class="col-2">
								<i class="fa fa-mortar-board" style="font-size:24px"></i>
							</div>
							<div class="col">
								<p>Sekolah Menengah Atas</p>
							</div>
						</div>
						<div class="row">
							<div class="col-2">
								<i class="fa fa-bank" style="font-size:24px"></i>
							</div>
							<div class="col">
								<p>SMA Negeri 14 Jakarta</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<p><br><br></p>
			</div>
			<div class="row">
				<div class="col-5">
					<div class="square-service-block judulsmp">
						<div class="row">
							<p style="text-align: center; color: #47525E; font-size: 18px;">2011-2014</p>
						</div>
					</div>
					<div class="square-service-block smp kotakedukasi">
						<div class="row">
							<br><br><br><br>
						</div>
						<div class="row">
							<div class="col-2">
								<i class="fa fa-mortar-board" style="font-size:24px"></i>
							</div>
							<div class="col">
								<p>Sekolah Menengah Pertama</p>
							</div>
						</div>
						<div class="row">
							<div class="col-2">
								<i class="fa fa-bank" style="font-size:24px"></i>
							</div>
							<div class="col">
								<p>MTs Negeri 6 Jakarta</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-1">
					<p></p>
				</div>
				<div class="col-5">
					<div class="square-service-block judulsd">
						<div class="row">
							<p style="text-align: center; color: #47525E; font-size: 18px;">2005-2011</p>
						</div>
					</div>
					<div class="square-service-block sd kotakedukasi">
						<div class="row">
							<br><br><br><br>
						</div>
						<div class="row">
							<div class="col-2">
								<i class="fa fa-mortar-board" style="font-size:24px"></i>
							</div>
							<div class="col">
								<p>Sekolah Dasar</p>
							</div>
						</div>
						<div class="row">
							<div class="col-2">
								<i class="fa fa-bank" style="font-size:24px"></i>
							</div>
							<div class="col">
								<p>SD Attarbiyah Surabaya</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div>
		<!--KONTAK SAYA -->
		<p>
			<br><br><br><br><br><br>
		</p>
		<div id="kontaksaya" class="container" >
			<br>
			<p class="h2 " style="text-align: center; font-family: GlacialIndifferenceRegular; font-size: 40px;">KONTAK SAYA</p>
			<p>
				<br><br><br>
			</p>
			<div class="row">
				<div class="col-5">
					<div class="square-service-block ayoberteman">
						<div class="row">
							<p style="text-align: left; color: #FF8B00; font-size: 24px;">MARI BERTEMAN!</p>
						</div>
						<div class="row">
							<div class="form-group">
    							<input type="Name" class="form-control inputan" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nama">
  							</div>
						</div>
						<div class="row">
							<div class="form-group">
    							<input type="Email" class="form-control inputan" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
  							</div>
						</div>
						<div class="row">
							<div class="form-group">
  								<textarea class="form-control textarea" rows="5" id="comment" placeholder="Pesan"></textarea>
							</div>
						</div>
						<div class="row">
							<button type="submit" class="btn btn-basic kirim">KIRIM</button>
						</div>
					</div>
				</div>
				<div class="col-1">
					<p></p>
				</div>
				<div class="col-6">
					<div class="square-service-block lebihdekat">
						<div class="row">
							<p style="text-align: left; color: #FF8B00; font-size: 24px;">AYO LEBIH DEKAT DENGAN SAYA</p><br>
						</div>
						<div class="row">
							<div class="col-1">
								<i class="material-icons" style="font-size:24px">location_on</i>
							</div>
							<div class="col-7">
								<p>Jl. Kwini 9A, Balekambang, Jakarta Timur</p><br>
							</div>
						</div>
						<div class="row">
							<div class="col-1">
								<i class="material-icons" style="font-size:24px">mail_outline</i>
							</div>
							<div class="col-7">
								<p>feriyalbinyahya@gmail.com</p><br>
							</div>
						</div>
						<div class="row">
							<div class="col-1">
								<i class="material-icons" style="font-size:24px">call</i>
							</div>
							<div class="col-7">
								<p>+6289661156025</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>

	<div>
		<p>
			<br><br>
		</p>

		<div id="footeer">
			</div>
		<script>
			$(function) {
				$("#footeer").load("Footer.html");});
			}
		</script>
		{% include "Footer.html" %}
		<br><br>
	</div>


</body>
</html>